/* Variables */

:root {
    --theme-color-lightviolet: #7477BF;
    --theme-color-darkviolet: #694c7c;
    --theme-color-darkerviolet: #473355;
    --theme-color-green: #81C98F;
    --theme-color-lightblue: #74B1BF;
    --theme-color-white: #FFF;
    --color-neutral-light: #f1efef;
    --color-border: #929799;
    --color-keys-light: #E5E5E5;
    --color-start-btn: rgb(255, 123, 0);
    --font-size-large: 60px;
    --font-size-med-large: 40px;
    --font-size-medium: 20px;
    --transition: all .1s ease-in-out;
  }


/*main*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color:var(--theme-color-lightviolet);
    color: var(--color-keys-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
        
}

.profile-info {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 20px; 
  }

  .profile-info h3 {
    color: var(--theme-color-white);
  }

.profile-info * {
    margin: 5px;
}

.vl {
    border-left: thin solid var(--theme-color-darkviolet);
    height: 35px;
}

.logo {
    font-weight: 100; 
    font-family: Roboto ;
    margin-top: 0;
}

.bell-icon {
    max-width: 100%;
    height: 20px;
    width: 20px;
}

.profile-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
}

#notifications {
    background-color: var(--theme-color-green);
    height: 7px;
    width: 7px;
    border: 5px var(--theme-color-green);
    border-radius: 50%;
    z-index: 2;
    margin-left: -7px;
    margin-bottom: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color-darkviolet);
    height: auto;
    align-items: center;

}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-neutral-light);
  border: 1px solid var(--color-border);
}

.headline-tab {
  padding: 0px 20px 0 20px;
  border-right: 1px solid var(--color-border);
  background-color: var(--theme-color-white);
  border-bottom: none;
  color: var(--color-border);
}

.main-header-search {
  margin: 0 20px 0 0;
}

.search-field{
  width: 400px;
  height: 40px;
  padding-left: 20px;
  border-radius: 2px;
}

input[type="search"]::placeholder {
  /* text-align: right; */
  margin-left: 10px;
}

.alert-banner {
  text-align: center;
  background-color: var(--theme-color-lightviolet);
  color: #ffffff;
}

h3 {
  margin: 20px;
  color: var(--color-border);
}

.traffic-header {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.traffic-nav {
  display: flex;
  justify-content: flex-end;
}

.traffic-nav li {
  list-style-type: none;
  margin: 10px 20px 10px 20px;
  border-radius: 20px;
  padding: 10px;
  color: var(--color-border)
}

.traffic-nav li:hover {
  background-color: var(--theme-color-green);
  color: var(--theme-color-white);
}

.icon {
    max-width: 100%;
    height: 30px;
    width: 30px;
    background-color: var(--theme-color-darkviolet);
    margin: 20px;
    /* padding: 2px; */
   
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-neutral-light);
  margin: auto;
  border: 1px solid var(--color-border);
  width: 300px;
  height: 100px;
  position: relative;
}

.social-icon {
  max-width: 100%;
  height: 75px;
  width: 75px;
  background-color: var(--theme-color-darkviolet);
  margin: 3px;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
}
.social-text p {
  font-size: 1.5em;
  color: var(--theme-color-darkerviolet);
  position: absolute;
  margin: 5px;
}

p.service {
  top: 10px;
  left: 125px;
}

p.count {
  font-size: 3em;
  top: 35px;
  left: 125px;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 70px 1fr;
}
@media (min-width: 768px) {
  .grid-container {
      grid-template-rows: 70px 75px 1fr;
  }
  nav {
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color-darkviolet);
    height: auto;
    align-items: center;
  } 
}

@media (min-width: 1024px) {
  header {
      grid-area: head;
  }
  nav {
      grid-area: nav;
  }
  main {
      grid-area: main;
  }
  .grid-container {
      grid-template-columns: 80px 1fr;
      grid-template-rows: 60px 1fr;
      grid-template-areas:
      "head head"
      "nav main";
  }
  nav {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color-darkviolet);
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
}

main { 
  display: grid;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 50%;
  }
}

@media (min-width:768px) {
  .main-header, .traffic, .social-container {
      grid-column: 1 / span 2;
  }
}

@media (min-width: 768px) {
  .daily, .members, .message {
    grid-column: 1 / span 1;
  }
}

@media (min-width: 768px) {
  .mobile, .activity, .settings {
    grid-column: 2 / span 1;
  }
}

.widget-container-full​, ​
.widget-container-half​ {
    width: ​95vw​;
}
    
@media (min-width: ​768px​) {​
  .widget-container-full​ {
    width: ​90vw​;
  }​
    
    .widget-container-half​ {
      width: 45vw;
    }
}