/* Variables */

:root {
    --theme-color-lightviolet: #7477BF;
    --theme-color-darkviolet: #694c7c;
    --theme-color-darkerviolet: #614674;
    --theme-color-green: #81C98F;
    --theme-color-lightblue: #74B1BF;
    --theme-color-white: #FFF;
    --color-neutral-light: #f3f1f1;
    --color-border: #929799;
    --color-keys-light: #E5E5E5;
    --theme-color-alert: #FF4900;
    --font-size-large: 60px;
    --font-size-med-large: 40px;
    --font-size-medium: 20px;
    --input-shadow: inset 0 0 3px #858585;
    --transition: all .1s ease-in-out;
  }


/*main*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}


header {
    background-color:var(--theme-color-lightviolet);
    color: var(--color-keys-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
        
}

.profile-info {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
  }

  header h1 {
    font-size: 1.5em;
  }
  header h3 {
    font-size: .5em;
  }

  .profile-info h3 {
    color: var(--theme-color-white);
  }

.profile-info * {
    margin: 5px;
}

.vl {
    border-left: thin solid var(--theme-color-darkviolet);
    height: 35px;
}

.logo {
    font-weight: 100; 
    font-family: Roboto ;
    margin-top: 0;
}

.bell-icon {
    max-width: 100%;
    height: 20px;
    width: 20px;
    background-color: var(--theme-color-lightviolet);
    
}

/* CSS transition when bell is hovered over */
.bell-icon:hover {
  -webkit-animation: ring 4s .05s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .05s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .05s ease-in-out infinite;
  transform-origin: 50% 4px;
}

/* keyframes for bell animation, movement of the bell - included moz for browser compatibility */
@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }
  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }
  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

/* Changes the fill color of the bell icon when hovered over */
.st0:hover {
  fill: var(--color-border);
}

.profile-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
}

#notifications {
    background-color: var(--theme-color-green);
    height: 7px;
    width: 7px;
    border: 5px var(--theme-color-green);
    border-radius: 50%;
    z-index: 2;
    margin-left: -7px;
    margin-bottom: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  position: absolute;
  top: 25px; right: 5px;
  height: auto;
  width: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color-darkviolet);
    height: auto;
    align-items: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-neutral-light);
  border: 1px solid var(--color-border);
  flex-wrap: wrap;
}

.headline-tab {
  padding: 0px 20px 0 20px;
  border-right: 1px solid var(--color-border);
  background-color: var(--theme-color-white);
  border-bottom: none;
  color: var(--color-border);
}

.main-header-search {
  margin: 0 20px 0 0;
}

.search-field{
  width: 400px;
  height: 40px;
  padding-left: 20px;
  border-radius: 2px;
  box-shadow: var(--input-shadow);
}

input[type="search"]::placeholder {
  margin-left: 10px;
  width: 95vw;
}


/* Alert banner styling */
.alert-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color-lightviolet);
  color: #ffffff;
  margin: 20px;
  border-radius: 2px;
}

.alert-banner p {
  margin: 10px;
  margin-left: 10px;
}

.alert-banner p:hover { 
  cursor: pointer; 
}

/* Alert notification button styling */

.show {
  display: flex;
  flex-direction: column;
}

.dropbtn {
  background-color: var(--theme-color-lightviolet);
  color: white;
  margin: 12px 0px 0px 10px;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

h3 {
  margin: 20px 20px 20px 5px;
  color: var(--color-border);
}

.traffic-header {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.traffic-nav {
  display: flex;
  justify-content: flex-end;
}

.traffic-nav li {
  list-style-type: none;
  border-radius: 20px;
  padding: 10px;
  color: var(--color-border)
}

.traffic-nav li:hover {
  background-color: var(--theme-color-green);
  color: var(--theme-color-white);
}

.widget-container-full​ {
  position:relative; 
  top:20px; 
  left:100px; 
  width:500px; 
  height:300px;
}

.daily {
  border: 1px solid var(--color-border);
}

.mobile {
  border: 1px solid var(--color-border);
}

#traffic-chart {
  max-width: 100%;
  height: auto;
}

#daily-chart {
  max-width: 100%;
  height: auto;
}

#mobile-chart {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.icon {
    max-width: 100%;
    height: 30px;
    width: 30px;
    background-color: var(--theme-color-darkviolet);
    margin: 30px;
   
}

.dashboard-icon {
  max-width: 100%;
  height: 30px;
  width: 30px;
  background-color: var(--theme-color-darkviolet);
  margin: 20px;
}

.dashboard-icon:hover {
  background-color: var(--theme-color-darkerviolet);
  transition-property: color  ;
}

.st01 {
  fill: var(--theme-color-white);
}

 .st01:hover {
  fill: var(--color-border);
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-neutral-light);
  margin: auto;
  border: 1px solid var(--color-border);
  width: 300px;
  height: 100px;
  position: relative;
  box-shadow: 3px 3px 2px 1px #ccc;
}

.social-icon {
  max-width: 100%;
  height: 75px;
  width: 75px;
  background-color: var(--theme-color-darkviolet);
  margin: 3px;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
}
.social-text p {
  font-size: 1.5em;
  color: var(--theme-color-darkerviolet);
  position: absolute;
  margin: 5px;
  
}

p.service {
  top: 10px;
  left: 125px;
}

p.count {
  font-size: 3em;
  top: 35px;
  left: 125px;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 70px 1fr;
}

.member-headline {
  margin: 50px 20px 20px 5px
}

.members-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--color-border);
  height: 90px;
  min-width: 300px;

  box-shadow: 3px 3px 2px 1px #ccc;
  margin: 5px;
  position: relative;
}

.members-container a {
  text-decoration: none;
  color: var(--theme-color-darkerviolet);
  margin: 5px;
}

.members-container .member-date {
  position: absolute;
  left: 80%;
}

.members-text p {
  margin: 5px;
}

.members-container .arrow {
  position: absolute;
  left: 95%;
  font-size: var(--font-size-med-large);
}

.arrow-svg {
  height: 20px;
  width: 20px;
}

.arrow-svg:hover {
  cursor: pointer;
}

.widget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.widget-container > * {
  margin: 10px;
}

.widget-container-full​, ​
.widget-container-half​ {
    width: ​95vw​;
}

/* Message-User Field */

.members-section {
  width: 80vw;
}

#userField {
  height: 40px;
  width: 300px;
  background-color: var(--color-neutral-light);
  border-radius: 2px;
  box-shadow: var(--input-shadow);;
}

#messageField {
  height: 100px;
  width: 300px;
  background-color: var(--color-neutral-light);
  border-radius: 2px;
  box-shadow: var(--input-shadow);;
}

.button-primary {
  background-color: var(--theme-color-lightviolet);
  color: var(--theme-color-white);
  border-radius: 2px;
  height: 40px;
  width: 300px;
}

/* Settings container layout*/

.switch-text-email {
  width: 200px;
  margin-right: 20px; 
}

.switch-text-profile {
  width: 200px;
  margin-right: 20px; 
}

.email-notifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-switch {
  width: 200px;
  
}

.profile-to-public {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.public-switch {
  width: 200px;
}

.email-notifications {
  grid-area: email;
}

.profile-to-public {
  grid-area: profile;
}

.timezone {
  grid-area: timezone;
}

.settings-button {
  grid-area: buttons;
}

.settings-container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "email email email email"
  "profile profile profile profile"
  "timezone timezone timezone timezone"
  "buttons buttons buttons buttons";
}

.settings-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 16px;
}

#save {
  max-width: 100px;
}

#cancel {
  max-width: 100px;
  width: 100px;
  height: 40px;
}


/* Mobile viewports */

@media (max-width: 468px) {
    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
   
  }
  .left {
    font-size: 0.75em;
  }
  .main-header {
    max-width: 100%;
  }
  nav {
    max-width: 100%;
  }
  .search-field{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 2px;
    box-shadow: var(--input-shadow);
  }
  .members-container .member-date {
    position: absolute;
    right: 60%;
  }
  .members-container {
    padding: 5px;
    font-size: 0.75em;
  }
  .members-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .traffic-header {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    column-width: 300px;
    max-width: 95vw; 

  }
}

/* 768px viewports and greater  */

@media (min-width: 768px) {
  .grid-container {
      grid-template-rows: 70px 75px 1fr;
  }
  nav {
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color-darkviolet);
    height: auto;
    align-items: center;
    justify-content: space-evenly;
  } 
  
  
  main {
    display: grid;
    grid-template-columns: 50%;
  }

}

/*grid layout 768px and greater*/

@media (min-width:768px) {
  .main-header, .traffic, .social-container, .alert {
      grid-column: 1 / span 2;
  }
}

@media (min-width: 768px) {
  .daily, .new-members, .message {
    grid-column: 1 / span 1;
  }
}

@media (min-width: 768px) {
  .mobile, .recent-activity, .settings {
    grid-column: 2 / span 1;
  }

  header h1 {
    font-size: 2.5em;
  }
  header h3 {
    font-size: 1em;
  }

}
    
@media (min-width: ​768px​) {​
  .widget-container-full​ {
    width: ​95vw​;
  }​
    
    .widget-container-half​ {
      width: 45vw;
    }
}

/* Desktop layout */

@media (min-width: 1024px) {
  header {
      grid-area: head;
  }
  nav {
      grid-area: nav;
  }
  main {
      grid-area: main;
  }
  .grid-container {
      grid-template-columns: 80px 1fr;
      grid-template-rows: 60px 2fr;
      grid-template-areas:
      "head head"
      "nav main";
  }
  nav {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color-darkviolet);
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

}




