* {
    box-sizing: border-box;
}

/* * {
    background-color: blueviolet;
} */

/* header {
    background-color: blueviolet;
} */

/* .bell {
    background-color: blueviolet;
} */

/* #notifications {
    background-color: blueviolet;
} */